/*
 * Copyright (C) 2018 STMicroelectronics (R&D) Limited.
 * Author: Nicolas Toromanoff <nicolas.toromanoff@st.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
#include "spacex_satellite_uterm_production.dtsi"

/ {
	aliases {
		i2c4 = &i2c4;
	};

	gpios {
		/*
		 * Reset.
		 */
		self_reset = <&pio21 5 1>;   /* 0=reset*/

		/*
		 * STSAFE reset, active low.
		 */
		stsafe_reset = <&pio21 6 0>;

		/*
		 * Watchdog disable.  1 = disabled
		 */
		watchdog_disable = <&pio31 0 0>;

		/*
		 * Watchdog toggle.  There is a pull-down resistor so a default
		 * value of 0 doesn't count as the first toggle.
		 */
		watchdog_toggle = <&pio31 1 0>;
	};

	soc {
		/*
		 * ADC temp sensors, voltage, and current monitors.
		 *
		 * Proto1 has 2 muxes on channels 3 and 4.
		 */
		telemetry_adc: sti_adc@8900000 {
			vref-external = <1800>; /* 1.8v external reference */
			use-external = <0 0 0 0 0 0 0 1>;

			mux-gpio = <&pio12 4 0>,
				   <&pio12 6 0>,
				   <&pio12 7 0>;

			mux@3 {
				input-channel = <3>;
				vchan-count = <8>;
			};
			mux@4 {
				input-channel = <4>;
				vchan-count = <8>;
			};
		};

		/*
		 * I2C4 (SCL:PIO23[3],SDA:PIO23[4]) for talking to STSAFE IC.
		 */
		i2c4: i2c4@8910000 {
			status = "okay";
		};
	};
};
