/*
 * Copyright (C) 2018 STMicroelectronics (R&D) Limited.
 * Author: Nicolas Toromanoff <nicolas.toromanoff@st.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
#include "spacex_satellite_uterm_cut2.dtsi"
#include "spacex_satellite_uterm_production.dtsi"
#include "spacex_satellite_uterm_imu_spi2.dtsi"

/ {
	gpios {
		/*
		 * GPS.
		 */
		gps_boot  = <&pio10 4 1>; /* 0=UART, 1=SPI  */
		gps_reset = <&pio21 4 1>; /* 0=reset, 1=run */

		/*
		 * Reset.
		 */
		self_reset = <&pio23 0 1>;   /* 0=reset*/

		/*
		 * Shiraz (digital beamformers).
		 */
		dbf_reset     = <&pio11 7 0>;
		dbf_v0p9_ok   = <&pio31 1>;

		/*
		 * Pulsar (Front-End Modules).
		 */
		fem_v1p8_ok   = <&pio31 0>;

		/*
		 * Cady (clockgen).
		 */
		cady_power   = <&pio20 1 0>;
		cady_v1p8_up = <&pio22 0 0>;

		/*
		 * Heaters. All Active HI.
		 */
		en_ctr_heater1  = <&pio10 5 0>;
		en_ctr_heater2  = <&pio23 1 0>;
		en_left_heater  = <&pio21 5 0>;
		en_right_heater = <&pio23 2 0>;

		/*
		 * STSAFE reset, active low.
		 */
		stsafe_reset = <&pio32 4 0>;

		/*
		 * Actuator Control.
		 */
		motor2_nsleep = <&pio20 7 0>; /* 0=sleep_mode */
		motor2_ph     = <&pio20 6 0>; /* 0=reverse, 1=fwd */
		motor2_nfault = <&pio20 3>;   /* 0=at_fault */

		motor1_nsleep = <&pio20 0 0>; /* 0=sleep_mode */
		motor1_ph     = <&pio20 5 0>; /* 0=reverse, 1=fwd */
		motor1_nfault = <&pio22 2>;   /* 0=at_fault */
	};

	pwms {
		/*
		 * Adaptive voltage scaling.
		 */
		avs_core      = <&pwm0 0>;
		avs_cpu       = <&pwm0 1>;
	};

	soc {
		/*
		 * ADC temp sensors, voltage, and current monitors.
		 *
		 * V2 has 2 muxes on channels 3 and 5.
		 */
		telemetry_adc: sti_adc@8900000 {
			use-external = <0 0 0 0 0 0 1 1>;

			mux-gpio = <&pio12 4 0>,
				   <&pio12 6 0>,
				   <&pio12 7 0>;

			mux@3 {
				input-channel = <3>;
				vchan-count = <8>;
			};
			mux@5 {
				input-channel = <5>;
				vchan-count = <8>;
			};
		};
	};
};
